<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Fractura - Dialogue</title>
  <link rel="stylesheet" href="../styles/dialogue1.css">
  <link rel="stylesheet" href="../styles/choose_roles.css">
</head>
<body>
    <div class="dial_start">
        <img class="dialog" src="../assets/UI/dialogs/dialog.png" alt="Dialogue">
        <img class="arrow" src="../assets/UI/dialogs/arrow_dialog_unactive.png" alt="Flèche">
        <div class="text" id="dialogue"></div>
    </div>
    
    <!-- LIGNE / ROW pour choisir le role (cliquer sur une image, puis confirmer avec entrer) -->
    <div class="row" id="roleSelection" style="display:none;">
          <img class="mystiologue_petit" src="../assets/UI/roles/petit/mystiologue_petit.png" alt="Mystiologue">
          <img class="verdamicien_petit" src="../assets/UI/roles/petit/verdamicien_petit.png" alt="Verdamicien">
          <img class="technoforgeron_petit" src="../assets/UI/roles/petit/technoforgeron_petit.png" alt="Technoforgeron">
    </div>
    
</body>

<script src="../script/typewritter.js"></script>
<script src="../script/wiggling_arrow.js"></script>

</html>
<!-- TEXTE 2: Depuis, les terres flottent, les royaumes s'effondrent, et les hommes essaient de survivre dans un monde divise. -->