translateX.row {
    display: flex;
    justify-content: center;
    gap: 60px; /* espace entre les images */
    margin-top: 500px;
    text-align: center;
    position:absolute;
    left:450px;
}

.row img {
    cursor: pointer;
    image-rendering: pixelated; /* pour que le pixel art reste net */
    image-rendering: crisp-edges;
    width: auto;  /* permet de conserver le ratio */
    height: 40px; /* hauteur fixe adaptée */
    transition: transform 0.2s;
}

.row img:hover {
    transform: scale(1.1);
}



