body {
      margin: 0;
      background-color: #04000A;
      color: white;
      font-family: "CutePixel", monospace;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }

    .dial_start {
      position: relative;
      display: inline-block;
      align-items: center;
      text-align:center;
    }

    .dialog {
        display: block;
        width: 900px;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }

    .text {
      position: absolute;
      text-align: left;
      top: 40%;
      left: 52%;
      transform: translate(-50%, -50%);
      opacity: 1; 
      font-size: 35px;
      width: 90%;
      color: #D683CF;
    }

    .bleuRupture {
        color: #56B8FF;
    }

    .violetCrystal {
        color: #9100f1;
    }

    @keyframes fadeIn {
      to { opacity: 1; }
    }

    @font-face {
        font-family: "CutePixel";
        src: url("../assets/fonts/CutePixel.ttf") format("truetype");
        font-display: swap;
    }

    @keyframes wiggle {
        0% { transform: translateY(0); }
        25% { transform: translateY(4px); }
        50% { transform: translateY(0); }
        75% { transform: translateY(-4px); }
        100% { transform: translateY(0); }
    }

    .arrow {
        position: absolute;
        top: -1%;
        left: -26.67%;
        width: 900px;
        opacity: 0; /* invisible au départ */
        cursor: pointer;
    }

    .arrow.wiggle {
        animation: wiggle 0.8s infinite;
    }
    